<div class="p-6 h-full overflow-y-auto">
    <app-dashboard-header></app-dashboard-header>

    <div class="grid grid-cols-1 md:grid-cols-6 lg:grid-cols-6 gap-4 mt-6">
        <div class="md:col-span-6 xl:col-span-3 grid grid-cols-1 sm:grid-cols-3 gap-4">
          <!-- Card: Total Calls -->
          <div class="flex flex-col gap-[1px] bg-white rounded-lg shadow p-4">
            <p class="text-sm text-gray-500">Total Calls Originated</p>
            <p class="text-5xl font-normal text-gray-800">9232</p>
          </div>
      
          <!-- Card: Answered Calls -->
          <div class="flex flex-col gap-[1px] bg-white rounded-lg shadow p-4">
            <p class="text-sm text-gray-500">Answered Calls</p>
            <div class="flex justify-between items-end">
              <p class="text-5xl font-normal text-gray-800">7293</p>
              <p class="flex flex-wrap justify-end text-green-600 text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                </svg>
                <span>78.9%</span>
              </p>
            </div>
          </div>
      
          <!-- Card: Abandoned Calls -->
          <div class="flex flex-col gap-[1px] bg-white rounded-lg shadow p-4">
            <p class="text-sm text-gray-500">Abandoned Calls</p>
            <div class="flex justify-between items-end">
              <p class="text-5xl font-normal text-gray-800">1939</p>
              <p class="flex flex-wrap justify-end text-red-600 text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181" />
                </svg>
                <span>21.1%</span>
              </p>
            </div>
          </div>

          <!-- Card: Total Talk Time -->
          <div class="flex flex-col gap-[1px] bg-white rounded-lg shadow p-4">
            <p class="text-sm text-gray-500">Total Talk Time</p>
            <p class="text-5xl font-normal text-gray-800 text-center">730<span class="text-sm font-normal">Hrs</span></p>
          </div>
      
          <!-- Card: Avg. Wait Time -->
          <div class="flex flex-col gap-[1px] bg-white rounded-lg shadow p-4">
            <p class="text-sm text-gray-500">Avg. Wait Time</p>
            <p class="text-5xl font-normal text-gray-800">1<span class="text-sm font-normal">Min</span> 50<span class="text-sm font-normal">Sec</span></p>
          </div>
      
          <!-- Card: Avg. Call Time -->
          <div class="flex flex-col gap-[1px] bg-white rounded-lg shadow p-4">
            <p class="text-sm text-gray-500">Avg. Call Time</p>
            <p class="text-5xl font-normal text-gray-800">6<span class="text-sm font-normal">Min</span> 15<span class="text-sm font-normal">Sec</span></p>
          </div>
        </div>
    
        <!-- Issue Status -->
        <div class="md:col-span-2 xl:col-span-1 bg-white rounded-lg shadow p-4">
          <p class="text-sm text-gray-500 mb-2">Issue Status</p>

          <app-doughnut-chart></app-doughnut-chart>

          <div class="flex justify-between text-xs xl:text-[10px] 2xl:text-xs mt-2 px-1">
            <span class="text-[#4d4bff]">● Unresolved</span>
            <span class="text-[#15dbcc]">● Resolved</span>
            <span class="text-[#fbb345]">● Pending</span>
          </div>
        </div>
    
        <!-- Issue Category -->
        <div class="md:col-span-4 xl:col-span-2 bg-white rounded-lg shadow p-4">
          <p class="text-sm text-gray-500 mb-2">Issue Category</p>

          <app-bar-chart></app-bar-chart>

          <div class="text-center text-[#1411ca] mt-1">
            <span class="font-medium text-sm">● </span>
            <span class="text-xs font-normal">Data</span>
          </div>
        </div>
    </div>

    <!-- Call Analytics Section -->
    <div class="mt-6">
      <div class="flex justify-between gap-5 flex-wrap items-center mb-5">
        <h2 class="text-lg font-semibold text-gray-900">Call Analytics</h2>
        <div class="flex items-center flex-wrap gap-4">
          <app-button label="History" [active]="activeButton === 'History'" (click)="setActive('History')"></app-button>
          <app-button label="In Progress" [active]="activeButton === 'In Progress'" (click)="setActive('In Progress')"></app-button>
        </div>
      </div>
    
      <div class="bg-white rounded-xl shadow max-w-[calc(100vw-112px)] overflow-x-auto">
        <app-table></app-table>
      </div>
    </div>
</div>